# vi: ft=sh
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export SDL_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

LOCAL_BIN_PATH="$HOME/.local/bin"
MIX_ESCRIPT_PATH="$HOME/.mix/escripts"
LUA_ROCKS_PATH="$HOME/.luarocks/bin"
OPAM_BIN_PATH="$HOME/.opam/default/bin"
CARGO_BIN_PATH="$HOME/.cargo/bin"
RUBY_GEM_PATH="$HOME/.local/share/gem/ruby/3.0.0/bin"
export PATH="$PATH:$LOCAL_BIN_PATH:$MIX_ESCRIPT_PATH:$LUA_ROCKS_PATH:$OPAM_BIN_PATH:$CARGO_BIN_PATH:$RUBY_GEM_PATH"

# Qt theme engine related
export QT_QPA_PLATFORMTHEME=qt5ct

# Fixing JetBrains IDE blank screen issues on Bspwm
# export _JAVA_AWT_WM_NONREPARENTING=1

# OCaml opam settings
# Prefix of the current opam switch
export OPAM_SWITCH_PREFIX="/home/tunkshif/.opam/default"
# Updated by package ocaml
export CAML_LD_LIBRARY_PATH="/usr/lib/ocaml/stublibs:/usr/lib/ocaml"
# Updated by package ocaml
export CAML_LD_LIBRARY_PATH="/home/tunkshif/.opam/default/lib/stublibs":"$CAML_LD_LIBRARY_PATH"
# Updated by package ocaml
export OCAML_TOPLEVEL_PATH="/home/tunkshif/.opam/default/lib/toplevel"
# Current opam switch man dir
export MANPATH="$MANPATH":"/home/tunkshif/.opam/default/man"

# LuaRocks settings
eval "$(luarocks path --lua-version 5.3)"
