""" Leader key
let mapleader=" "

""" Common Settings
set showmode
set scrolloff=3
set number
set relativenumber
set ignorecase
set smartcase
set incsearch

""" Plugins
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister

""" Plugin Settings
let g:argtextobj_pairs="[:],(:),<:>"
nnoremap s :action AceAction<CR>

""" Idea Specific Settings
set ideajoin
set idearefactormode=keep

""" Mappings
" copy and paste
vnoremap <Leader>y "+y
nnoremap <leader>y "+y

nnoremap <Leader>p "+p
nnoremap <Leader>P "+P
vnoremap <Leader>p "+p
vnoremap <Leader>P "+P

" file
nnoremap <Leader>fs :action Find<CR>
nnoremap <Leader>ff :action GotoFile<CR>
nnoremap <Leader>fq :q<CR>
nnoremap <Leader>fw :w<CR>

" goto
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gf :action FileStructurePopup<CR>
nnoremap <leader>gh :action Back<CR>
nnoremap <leader>gl :action Forward<CR>

" code
nnoremap <Leader>cr :action RenameElement<CR>
nnoremap <Leader>cf :action ReformatCode<CR>
" TODO: code collapse and expand

" debug and run
nnoremap <leader>rc :action ChooseRunConfiguration<CR>
nnoremap <Leader>rr :action Run<CR>
nnoremap <Leader>rR :action RunClass<CR>
nnoremap <Leader>rd :action Debug<CR>
nnoremap <Leader>rD :action DebugClass<CR>
nnoremap <Leader>rb :action ToggleLineBreakpoint<CR>

" tab switching
nnoremap [b gT
nnoremap ]b gt